@charset "UTF=8";

@media screen and (min-width: 768px) {
    
    span#burguer{
        display: none;
    }

    menu{
        display: block;
        background-color: rgb(84, 84, 84);
        margin: 0;
    }

    menu li{
        display: inline-block;
        width: 183px;
    }

    menu a{
        margin: 0;
    }
}